---
layout: default
permalink: /
---

<div class="hero">

  {% include navbar.html %}

  <div class="section">
    <div class="container">
      <div class="hero-content">
        <h1
          data-w-id="0240c9a6-ddab-4fbe-4a53-aeff0fe478d1"
          style="
            opacity: 0;
            -webkit-transform: translate3d(0, 60px, 0) scale3d(1, 1, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -moz-transform: translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0)
              rotateY(0) rotateZ(0) skew(0, 0);
            -ms-transform: translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0)
              rotateY(0) rotateZ(0) skew(0, 0);
            transform: translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0)
              rotateY(0) rotateZ(0) skew(0, 0);
          "
        >
          Hi! I’m Arthur,<br />Web Designer &amp; Developer
        </h1>
        <p
          data-w-id="fe6ae4e0-1f3a-276b-4efe-b7ace4a985f5"
          style="
            opacity: 0;
            -webkit-transform: translate3d(0, 60px, 0) scale3d(1, 1, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -moz-transform: translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0)
              rotateY(0) rotateZ(0) skew(0, 0);
            -ms-transform: translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0)
              rotateY(0) rotateZ(0) skew(0, 0);
            transform: translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0)
              rotateY(0) rotateZ(0) skew(0, 0);
          "
          class="hero-paragraph"
        >
          I design and build elegant websites for businesses around the world.
          If you need a modern and powerful website, send me an email. If we are
          a good match, I will give you a time and cost estimate.
        </p>
        <div
          data-w-id="769218ae-cc1d-65d5-eb2f-a04c59a636cc"
          style="
            opacity: 0;
            -webkit-transform: translate3d(0, 60px, 0) scale3d(1, 1, 1)
              rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
            -moz-transform: translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0)
              rotateY(0) rotateZ(0) skew(0, 0);
            -ms-transform: translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0)
              rotateY(0) rotateZ(0) skew(0, 0);
            transform: translate3d(0, 60px, 0) scale3d(1, 1, 1) rotateX(0)
              rotateY(0) rotateZ(0) skew(0, 0);
          "
          class="button-wrapper"
        >
          <div class="button-border">
            <a
              href="#portfolio"
              style="
                -webkit-transform: translate3d(-8px, -8px, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -moz-transform: translate3d(-8px, -8px, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                -ms-transform: translate3d(-8px, -8px, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                transform: translate3d(-8px, -8px, 0) scale3d(1, 1, 1)
                  rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              "
              class="button w-button"
              >see my work</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section background-section">
    <div class="background-container triangle-container scroll-container">
      <img src="{{ "/assets/images/triangle-top.svg" | relative_url }}" alt=""
      class="triangle">
      <div class="scroll-block">
        <div
          data-w-id="9755fdc4-5b04-9dde-e67e-46c3fd113c67"
          class="scroll-arrow"
        ></div>
        <div class="scroll-text">scroll</div>
      </div>
    </div>
  </div>
</div>

<div class="section background-section">
  <div class="background-container">
    {% include project-list.html only_featured = true %}

    <div class="see-more">
      <div
        data-w-id="d980c3f6-3351-7987-f3e4-925dbaa21ff7"
        class="button-wrapper"
      >
        <div class="button-border">
          <a
            href="/portfolio"
            style="
              -webkit-transform: translate3d(-8px, -8px, 0) scale3d(1, 1, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              -moz-transform: translate3d(-8px, -8px, 0) scale3d(1, 1, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              -ms-transform: translate3d(-8px, -8px, 0) scale3d(1, 1, 1)
                rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
              transform: translate3d(-8px, -8px, 0) scale3d(1, 1, 1) rotateX(0)
                rotateY(0) rotateZ(0) skew(0, 0);
            "
            class="button w-button"
            >see more Projects</a
          >
        </div>
      </div>
    </div>

    <div class="half-section">
      <div class="half-block">
        <h1
          data-w-id="00afa02e-69cd-47c4-c51f-f00b8ec715bd"
          style="opacity: 0;"
        >
          My Skillset
        </h1>
      </div>

      <div class="text-half">
        <div
          data-w-id="b389f19c-ee29-a51b-690b-5b94ea4177ec"
          style="opacity: 0;"
          class="half-text-block"
        >
          <h2>Design</h2>
          <p>
            I design elegant and powerful websites for modern businesses. Any
            business today needs a website that wins customers’ trust and helps
            you do your business well. I make sure your website is up to that
            standard.
          </p>
        </div>
        <div
          data-w-id="54d83a17-0bfa-3731-0ce4-36ac41e2bb25"
          style="opacity: 0;"
          class="half-text-block"
        >
          <h2>Development</h2>
          <p>
            I build websites in Webflow where I can create responsive, powerful
            and fully custom websites. Plus, Webflow has an incredibly simple
            Content Editor for you and your team to edit website content quickly and easily.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="background-container triangle-container">
    <img src="{{ "/assets/images/triangle-bottom.svg" | relative_url }}" alt="">
  </div>
</div>
