<div class="section footer">
  <div class="container">
    <div class="footer-flexbox">
      <div class="footer-column first">
        <a href="/"><h4 class="footer-title">Arthur Cendrier</h4></a>
        <div class="footer-text">Web Designer &amp; Developer</div>
      </div>
      <div class="footer-column">
        <h4>Working with me</h4>
        <a href="/my-project-workflow" class="footer-link">My Project Workflow</a>
        <a href="/why-webflow-is-awesome" class="footer-link">Why Webflow Is Awesome</a>
        <!-- <a href="#" class="footer-link">Tutorials &amp; Ressources</a> -->
      </div>
      <div class="footer-column last">
        <h4>About me</h4>
        <a href="/who-am-i" class="footer-link">Who Am I</a>
        <a href="/portfolio" class="footer-link">Full Portfolio</a>
      </div>
    </div>
    <div class="footer-text">© All right reserved – Arthur Cendrier 2020</div>
  </div>
</div>
