<div class="section">
  <div class="container">
    <div class="half-section hire-me">
      <div class="half-block">
        <h1 data-w-id="89cd589c-c66a-9e97-77a1-33394acfb4cf">Contact Me</h1>
      </div>
      <div class="text-half">
        <div
          data-w-id="89cd589c-c66a-9e97-77a1-33394acfb4d2"
          class="half-text-block"
        >
          <p>
            I have a full-time job, so I'm currently not available for work.
            Nevertheless, feel free to email me at
            <a id="contact-link" target="_blank" href="#">
              foo@bar.com
            </a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const contactLink = document.getElementById('contact-link')
  contactLink.href = `mailto:${full}`
  contactLink.textContent = full
</script>
