<div class="section">
  <div class="container">
    <div class="half-section hire-me">
      <div class="half-block">
        <h1 data-w-id="89cd589c-c66a-9e97-77a1-33394acfb4cf">Hire Me</h1>
      </div>
      <div class="text-half">
        <div
          data-w-id="89cd589c-c66a-9e97-77a1-33394acfb4d2"
          class="half-text-block"
        >
          <p>
            If you need a modern and powerful website for your business, startup or personally, I am available for work. You can email me directly at
            <a
              target="_blank"
              href="mailto:contact@arthurcendrier.com"
              >contact@arthurcendrier.com</a
            >.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
