<!DOCTYPE html>

<html
	lang="en"
	data-wf-page="5f398d3088aaa0eec2a23899"
	data-wf-site="5f398d3088aaa069d7a23898">

{% include head.html %}

<body {% if page.dark_bg %}class="post-background"{% endif %}>

	{{ content }}

	{% include hire-me.html %}

	{% include footer.html %}

  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5f398d3088aaa069d7a23898" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

	<script src="{{ "/assets/js/webflow.js" | relative_url }}" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>

</html>